.discoball{
  position: fixed;
  width:15%;
  height: 15%;
/*   right: 25%; */
  left: 42%;
  top: 15%;
  z-index: -10;
  
  
  
}

#discoball{
  
  width: 100%;
  
  
}

.discobutton{
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 10;
}