.discoball{
  position: fixed;
  width:100%;
  height: 100%;
  right: 25%;
  left: 54.2%;
  top: 15%;
  z-index: -10;
  
  
  
}

#discoball{
  
  width: 39%;
  
  
}

.discobutton{
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 10;
}